<% include ./partials/head.ejs %>

<body>

    <% include ./partials/nav.ejs %>

    <br>
    <br>


    <div class="container">

        <div class="display-page">

            <div class="active-session-form-wrapper">

                <% if(typeof currentLead._id == "undefined") { %>
                <form class="new-form" action="/lgsession/add_new_lead/<%=sessionId%>?_method=PUT" method="POST">
                    <% } else { %>
                    <form class="new-form"
                        action="/lgsession/update_lead/<%=currentSession._id%>/<%=currentLead._id%>?_method=PUT"
                        method="POST">
                        <% } %>
                        <label for="business_name">Business Name: </label>
                        <input class="input-text" type="text" name="business_name" id="business_name"
                            value="<%=currentLead.business_name%>"><br>

                        <label for="business_contact">Contact Name: </label>
                        <input class="input-text" type="text" name="business_contact" id="business_contact"
                            value="<%=currentLead.business_contact%>"><br>

                        <label for="business_phone">Phone number: </label>
                        <input class="input-text" type="text" name="business_phone" id="business_phone"
                            value="<%=currentLead.business_phone%>"><br>

                        <label for="business_email">Business Email: </label>
                        <input class="input-text" type="text" name="business_email" id="business_email"
                            value="<%=currentLead.business_email%>"><br>

                        <label for=" website_url">Website Address: </label>
                        <input class="input-text" type="text" name="website_url" id="website_url"
                            value="<%=currentLead.website_url%>"><br>

                        <label for="note">Notes: </label>
                        <input class="input-text" type="text" name="note" id="note" value="<%=currentLead.note%>"><br>


                        <input type="submit" value="submit">
                    </form>
            </div>


            <div class="active-session-display-wrapper">

                <div class="session-information">
                    <!-- show current session id -->
                    <p>Session ID: <%= currentSession._id%></p>
                    <!-- show current LGA ID -->
                    <p>LGA ID: <%= currentSession.lga_id%></p>
                    <button class="print-list-button" onclick="printList();">Print List</button>
                </div>

                <% currentSession.leads.reverse().forEach((lead, index) => { %>
                <div class="leads-in-session-display">

                    <p>Business Name: <%=lead.business_name%></p>
                    <p>Business Contact: <%=lead.business_contact%></p>
                    <p>Business Phone: <%=lead.business_phone%></p>
                    <p>Business Email: <%=lead.business_email%></p>
                    <p>Website URL: <%=lead.website_url%></p>
                    <p>Notes: <%=lead.note%></p>
                    <form class="form-delete-sm"
                        action="/lgsession/active_session/<%=currentSession._id%>/<%=lead._id%>?_method=DELETE"
                        method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    <!-- <form action="/lgsession/active_session/<%=currentSession._id%>" method="GET"></form> -->
                    <!-- <form action="/lgsession/update_lead/<%=currentSession._id%>/<%=lead._id%>?_method=PUT" -->
                    <!-- method="POST"> -->
                    <form class="form-edit-sm" action="/lgsession/active_session/<%=currentSession._id%>/<%=lead._id%>">
                        <input type="submit" value="EDIT">
                    </form>
                    <!-- <a href="/lgsession/active_session/<%=currentSession._id%>/<%=lead._id%>"><input
                            class="form-edit-sm" type="button" value="EDIT"></a> -->
                    <!-- </form> -->

                </div>
                <hr>
                <% }) %>

            </div>

        </div>





    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        const printList = () => {
            window.print();
        }
    </script>
</body>

</html>