<% include ./partials/head.ejs %>

<body>

    <% include ./partials/nav.ejs %>

    <div class="container">
        <h1>LGM Show Leads Page</h1>

        <a href="/lgsession/session_ended"><button>Session Ended</button></a>

        <% sessionData.forEach( (eachSession, index) => { %>
        <div>
            <p>LG Session ID: <%= eachSession._id %></p>
            <p>LGA ID: <%= eachSession.lga_id %></p>



            <% eachSession.leads.forEach( (leads, index) => { %>
            <div class="leads">
                <p>Business Name: <%= leads.business_name %></p>
                <p>Business Contact: <%= leads.business_contact %></p>
                <p>Business Phone: <%= leads.business_phone %></p>
                <p>Business Email: <%= leads.business_email %></p>
                <p>Website URL: <%= leads.website_url %></p>
                <p>Notes: <%= leads.note %></p>
                <form action="/lgsession/<%=leads%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
            </div>
            <% }) %>
        </div>
        <% }) %>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>